

/******  colors **********/
@background: #e5e6e8;
@greyText: #666666;
@lightText: #990066;
@darkText: #330033;
@blueText: #0099ff;
@magentaText: #990066;
@orangeText: #ff9900;
@purpleText: #330033;
@navyText: #000033;
@blackText: #000000;


/********* fonts **************/

@georgiaFont: Georgia,'Times New Roman',serif;
@regFont: Arial,Helvetica,sans-serif;
@headerText: 3.7em;
@headerWeight:900;
@bigText: 1.7em;
@medText: 1.3em;
@smallText: 0.9em;

/********* widths / margins **************/
@contentWidth: 1000px;
@marginLeft: 5px;
@projectHeight:248px;


body { 
font-family:Arial, Helvetica, sans-serif;
text-align: center;
background:@background;
}

#wrapper {
width: @contentWidth;
margin: 0 auto;	
text-align: left;
}

header {
  font: @georgiaFont;
  .borders;
  padding: 0 0 0 @marginLeft;
  margin:10px 0 0 0;
}


/********** first page styles ***********/

#names {
	font-size:@bigText;
	font-family: @georgiaFont;
	margin:10px 0 0 0;
	font-style:italic;
}

#main_nav {
	font-size:@medText;
	font-family: @georgiaFont;
	margin:3px 0 0 0;
	font-style:italic;
}

#main_nav a {
	color:@magentaText;
	text-decoration:none;
}

h2{
  color:@magentaText;
  font-size:@bigText;
  font-family: @georgiaFont;
  font-style:italic;
  text-transform:lowercase;
  margin:0 0 3px 0;
}

#sub_nav {
	font-size:@smallText;
	font-family: @georgiaFont;
	font-style:italic;
	margin:3px 0 12px 0;
}

.borders(@color:#000) {
	border-top: solid 7px @color;
	border-bottom: solid 20px @color;
}

.project {
 display:inline-block;	
 margin:10px 0 0 10px;
}

#project1 .numberBox, #project1 .logoBox {
 .borders(@blueText);
 color:@blueText;
}
#project2 .numberBox, #project2 .logoBox {
 .borders(@magentaText);
 color:@magentaText;
}
#project3 .numberBox, #project3 .logoBox {
 .borders(@orangeText);
 color:@orangeText;
}
#project4 .numberBox, #project4 .logoBox {
	.borders(@purpleText);
	color:@purpleText;
}
#project5 .numberBox, #project5 .logoBox {
 	.borders(@blackText);
	color:@blackText;
}


.numberBox {
width:170px;
height:@projectHeight;
.borders;
float:left;
font-size:8em;
font-family:@georgiaFont;
font-style:italic;
padding: 10px 0 0 10px;
}

.numberBox div {
  margin:50px 0 0 20px;
}

.logo {
  margin:60px 0px 0px 90px;
}

.imageBox {
width:494px;
height:@projectHeight + 37;
float:left;
}
.logoBox {
width:260px;
height:@projectHeight;
background:#FFF;
.borders;
float:left;
padding: 10px 0 0 0;
}

#about {
  background:#fff;	
  margin:5px 0 0 0;
  padding:5px 0 0 0;
  height:700px;
}

h1 {
  font-size:@headerText;
  font:@regFont;
  font-weight:@headerWeight;
  margin:-8px 0 0 20px;
}

p {
  font:@regFont;
  font-size:@smallText;
  margin:10px 0 0 20px;
  width:600px;
  line-height:1.2em;
}

#about_photo {
  background:#000;
  margin: 10px 0 0 15px;  
  padding:10px;
}
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}



#bottom_links li{
  float:left;
  font-size: 0.8em;
  font-family:@regFont;
  text-transform:uppercase;
  margin:45px 0 0 30px;
  line-height:1.4em;
}


footer {
  height: 158px;
  background:url("../../images/ck_footer.png");
  width:@contentWidth;
  border-bottom: solid 20px #333;
  margin: -1px 0 20px 0;
}

